{% extends "padre.html" %}

{% load static %}

{% block contenido %}



<main>
    
    <h3 class="text-uppercase text-center">Edición de registros de propiedades para el turismo</h3>




    <h6 class="text-uppercase">Edición de registros de propiedades.</h6>
<form action="{% url 'editar_turismo' editar_t.id %}" method="POST">
    {% csrf_token %}
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Tipo:</span>
        <input type="text" name={{formula_t.tipo_prop_t}}>
    </div>

    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Localidad:</span>
        <input type="text" name={{formula_t.localidad_t}}>
    </div>
    
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Barrio:</span>
        <input type="text" name={{formula_t.barrio_t}}>
    </div>

    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Cant. dormitorios:</span>
        <input type="text" name={{formula_t.cant_dormi_t}}>
    </div>

    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Estado (vendido/no vendido):</span>
        <input type="text" name={{formula_t.estado_t}}>
    </div>

    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Otros (text):</span>
        <input type="text" name={{formula_t.otro_cha_t}}>
    </div>

    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Otro número:</span>
        <input type="text" name={{formula_t.otro_ent_t}}>
    </div>

    <div class="form group">
        <button class="btn btn-success">Enviar</button>
    </div>

    <br>

    <div>

        <a class="btn btn-primary" href="http://127.0.0.1:8000/app_inmo_gg/">  Ir a inicio</a>
        
    </div>

</form>


   
</main>



    <h1>{{ datos_v }}</h1>

{% endblock %}