{% extends "padre.html" %}

{% load static %}

{% block contenido %}

<html>
    <title>Readme</title>
</head>
<body>

    <h1 align=center><ins>Acerca de mi</ins></h1>
    <br><br>
    <div align=center> Soy Aníbal Rueda y en este momento me encuentro cursando los 52 años de vida. <br>He trabajado en diferentes clases de trabajos, y bueno, este último me ha tocado ser docente.<br> Soy un apasionado de la ciencia, un apasionado de mi trabajo y me gusta mucho tratar de innovar, <br>de hacer cosas diferentes y en cuanto a mis pasiones, mis hobbies, me encantan las rocas y los minerales. <br>Me gusta mucho el tenis de mesa como deporte y he practicado otros deportes como ser fútbol, algo de artes marciales y algo de rugby.
        <br>Vivo en la zona de Quilmes, partido de Buenos Aires y me encuentro acá tratando de hacer esta cosa rara que me cuesta mucho pero me divierte <br>porque invita a la creatividad y a la autosuperación. ja ja. 
    </div>
    
</body>
</html>

{% endblock %}